<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @signup.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @signup.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @signup.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @signup.phone %>
</p>

<p>
  <strong>Password:</strong>
  <%= @signup.password %>
</p>

<%= link_to 'Edit', edit_signup_path(@signup) %> |
<%= link_to 'Back', signups_path %>
